<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <style>
    body {
      background-image: url('fondo.png');
    }
  </style>
  <style>
    .formulario-recuadro {
        text-align: center;
        border: 1px solid #019CA1;
        background-color: #019CA1;
        padding: 19px;
        width: 270px;
        height: 240px;
        margin: 0 auto;
        justify-content: center;
    }
  </style>
</head>
<body>
    <center>
        <h1>Inicio de sesión</h1>
    </center>
    <div class="formulario-recuadro">
        <h2 style= "font-family: 'Courier New', Courier, monospace;">¡Bienvenidx!</h2>
        <form action="acciones.php" method="POST">
            <label>Nombre(s):
                <br>
                <input type="text" name="nombre" required autocomplete="on"> 
            </label>
            <br><br>
            <label for="Casa">Casa:</label>
            <br>
            <select id="Casa" name="casa">
                <option value=""></option>
                <option value="Ajolote">Ajolotes</option>
                <option value="Halcon">Halcones</option>
                <option value="Teporingo">Teporingos</option>
            </select>
            <br><br>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>