body{
    background-image: url(https://img.freepik.com/vector-premium/patron-vectorial-lindos-rostros-amables-ajolote-anfibio-sonriente-dibujos-animados-rosa-sobre-fondo-azul_692533-50.jpg);
}
.formulario{
    text-align: center;
    width: 300px;
    background-color: rgb(255, 196, 240);
    margin: 0 auto;
}

