body{
    background-image: url(https://garden.spoonflower.com/c/10422223/p/f/m/BAuN5RWmBygjb08bftk5gMNsLJKct2VQo8MYd2qsUTH3O1DW7yx2ZwX5zA/peregrine%20falcon%20dusty%20sky.jpg);
}
h1{
    text-align: center;
}
.formulario{
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: rgb(175, 204, 255);
    display: grid;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;   
    border-radius: 0.8rem;
}



