body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/005/702/562/small/seamless-pattern-of-rabbit-domestic-animals-on-colorful-background-illustration-for-textile-vector.jpg);
}
h1{
    text-align: center;
}
.formulario{
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: rgb(160, 160, 160);
    display: grid;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;   
    border-radius: 0.8rem;
}